In [ ]:
#JAWABAN NOMOR 1

In [ ]:
def conv_reamur(celcius):
    convert_reamur = 4 * celcius / 5
    return convert_reamur

def conv_farenheit(celcius):
    convert_farenheit = 9 * celcius / 5 + 32
    return convert_farenheit

def main():
    temperature = int(input('Masukan Skala Celcius: '))

    print(f'Hasil Konnversi Suhu {temperature} C adalah {conv_reamur(temperature)} Reamur')
    print(f'Hasil Konversi Suhu {temperature} C adalah {conv_farenheit(temperature)} Farenheit')

 
if __name__=='__main__':
    main()

In [ ]:
#BAGIAN DATABASE

In [2]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
)

if db.is_connected():
    print("Berhasil terhubung ke database")

Berhasil terhubung ke database

In [3]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
)

cursor = db.cursor()
cursor.execute ("CREATE DATABASE db_Film")

print("Datbase berhasil dibuat!")

Datbase berhasil dibuat!

In [8]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="db_Film"
)

cursor = db.cursor()
sql = """CREATE TABLE tblFilm (
    Id INT AUTO_INCREMENT PRIMARY KEY,
    Judul_Film VARCHAR(255),
    Genre VARCHAR(255),
    Deskripsi TEXT
)
"""
cursor.execute(sql)

print("Tabel Film Berhasil Dibuat!")

Tabel Film Berhasil Dibuat!

In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="db_Film"
)

def insert_data(db):
    Judul_Film = input("Masukan Judul Film : ")
    Genre = input("Masukan Genre : ")
    Deskripsi = input("Masukan Deskripsi : ")
    val = (Judul_Film, Genre, Deskripsi)
    cursor = db.cursor()
    sql = "INSERT INTO tblFilm (Judul_Film, Genre, Deskripsi) VALUES (%s, %s, %s)"
    cursor.execute(sql, val)
    db.commit()
    print("{} data berhasil disimpan".format(cursor.rowcount))
    
        
def update_data(db):
    cursor = db.cursor()
    Id = input ("Masukan Id : ")
    Judul_Film = input("Nama Baru : ")
    Genre = input("Masukan Genre : ")
    Deskripsi = input("Masukan Deskripsi : ") 
    
    sql = "UPDATE tblFilm SET Judul_Film=%s, Genre=%s, Deskripsi=%s WHERE Id=%s"
    val = (Judul_Film, Genre, Deskripsi, Id)
    cursor.execute(sql, val)
    db.commit()
    print("{} data berhasil diubah".format(cursor.rowcount))
    
def delete_data(db):
    cursor = db.cursor()
    Id = input("pilih id Film ")
    sql = "DELETE FROM tblFilm WHERE Id=%s"
    val = (Id,)
    cursor.execute(sql, val)
    db.commit()
    print("{} data berhasil di hapus".format(cursor.rowcount))
    
def search_data(db):
    cursor = db.cursor()
    keyword = input("Cari Film : ")
    sql = " SELECT * FROM tblFilm WHERE Judul_Film LIKE %s OR Genre LIKE %s"
    val = ("%{}%".format(keyword), "%{}%".format(keyword))
    cursor.execute(sql, val)
    results = cursor.fetchall()
    
    if cursor.rowcount <0:
        print("Tidak ada data")
    else:
        for data in results:
            print(data)
            
    
def show_menu(db):
    print(" DATABASE FILM ")
    print("1. Insert Data")
    print("2. Update Data")
    print("3. Delete Data")
    print("4. Search Data")
    print("0. Keluar")
    menu = input("Pilih Menu ")

    
    if menu == "1":
        insert_data(db)
    elif menu == "2":
        update_data(db)
    elif menu == "3":
        delete_data(db)
    elif menu == "4":
        search_data(db)
    elif menu == "0":
        exit()
    else:
        print("Menu Tidak Tersedia")
        
        
        
if __name__== "__main__":
    while(True):
        show_menu(db)

 DATABASE FILM
1. Insert Data
2. Update Data
3. Delete Data
4. Search Data
0. Keluar